.CardBox {
  background-color: var(--color-primary-accent) !important;
  border-radius: 12px;
  border: 5px solid var(--gray-300);
  box-shadow: 0 6px 18px var(--gray-100);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  cursor: pointer;
  padding: 3px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.CardBox:hover {
  transform: translateY(-8px);
}

.CardTitle {
  font-size: 16px;
  color: var(--color-text-primary);
}

.CardText {
  font-size: 14px;
  color: var(--color-text-secondary);
}

.CardBox:hover .IconBox {
  color: var(--color-secondary);
}
.IconBox {
  transition: color 0.3s ease;
}
