.CardBox {
  background-color: var(--color-primary-accent);
  border-radius: 12px;
  border: 5px solid var(--gray-300);
  box-shadow: 0 6px 18px var(--gray-100);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 20em;
  width: 16em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.CardBox:hover {
  transform: translateY(-8px);
}

.CardTitle {
  font-size: 16px;
  color: var(--color-text-primary);
}

.CardText {
  font-size: 14px;
  color: var(--color-text-secondary);
  text-align: center;
}

.CardBox:hover .IconBox {
  color: var(--color-secondary);
}
.IconBox {
  transition: color 0.3s ease;
  width: 120px;
  padding: 1em;
}
