.inputField {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid var(--color-text-secondary);
  padding: 0.5rem 0rem;
  background-color: var(--color-primary);
  color: var(--color-text-primary);
  outline: none;
  stroke: none;
  transition-duration: 0.5s;
}

.inputField:focus {
  border-bottom: 1px solid var(--color-accent);
  background-color: var(--color-primary);
  box-shadow: none;
  outline: none;
  stroke: none;
  color: var(--color-text-primary);
}
.inputField::placeholder {
  color: var(--color-text-secondary);
  transform: scale(1);
  transform-origin: left center;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.inputField:focus::placeholder {
  transform: scale(1.3);
}

.inputField:-webkit-autofill,
.inputField:-webkit-autofill:hover,
.inputField:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px var(--color-primary) inset !important;
  box-shadow: 0 0 0 1000px var(--color-primary) inset !important;
  -webkit-text-fill-color: var(--color-text-primary) !important;
}

.submitButton {
  background-color: var(--color-primary);
  border-color: var(--color-secondary);
  color: var(--color-secondary);
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.submitButton:hover {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-color: var(--color-secondary);
}
.submitButton:disabled {
  background-color: var(--color-primary);
  border-color: var(--color-secondary);
  color: var(--color-text-secondary);
  opacity: 0.6;
  cursor: not-allowed;
}
