.footerCopy p {
  font-size: 12px;
  color: var(--color-text-secondary);
  padding: 0;
  margin: 0;
}

.footerNav {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.navLinks a {
  text-decoration: none;
  color: var(--color-text-secondary);
  font-size: 14px;
  transition: color 0.3s ease;
}

.navLinks a:hover {
  color: var(--color-accent);
}

.backToTop {
  background: var(--color-primary);
  color: var(--color-secondary);
  border: 2px solid var(--color-secondary);
  border-radius: 4px;
  cursor: pointer;
  font-size: 19px;
  padding: 6px 6px;
  transition: background-color 0.3s ease;
  width: 42px;
  height: 42px;
}

.backToTop:hover {
  border: 2px solid var(--color-accent);
  background: var(--color-accent);
  color: var(--color-primary);
}
