.hexWrapper {
  position: relative;
  width: 200px;
  height: 200px;
}

.hexGlow,
.hexContent {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  border-radius: 0;
  position: absolute;
  inset: 0;
}

.hexGlow {
  position: absolute;
  inset: -3px;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  background: var(--border-color, #0ff);
  filter: blur(20px);
  opacity: 0.7;
  z-index: 1;
}

.hexContent {
  background: var(--color-primary);
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20% 20%;
  color: var(--color-text-secondary);
}
