.inhertHeight {
  height: 100%;
}

.carouselItem {
  height: 100%;
  background-color: transparent;
}

.itemImage {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-bottom: 1rem;
}

.companyName {
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 0.5rem;
  color: var(--color-text-primary);
}

.companyRole {
  font-size: 12px;
  color: var(--color-text-secondary);
  background-color: var(--gray-300);
  width: fit-content;
  border-radius: 10px;
}

.jobSummary {
  font-size: 16px;
  color: var(--color-text-secondary);
  margin-top: 1rem;
}
